<div class="row top-row">
  <div class="col-md-3 animated zoomIn">
    <!-- <div class="col-xs-6 col-md-9 animated zoomIn fullview"> -->
      <div class="panel panel-primary top-panel">
        <div class="panel-heading">Reports</div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-12 animated zoomIn">
            <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="height: 150px; width: 150px;" ng-src="{{badge}}" alt="badge">
            </div>
            <div class="media-body media-middle">
              <h2 class="media-heading main-heading">{{$routeParams.zone}}</h2>
            </div>
          </div>
            <totals-table data="reportTotals.daily" title="today" ></totals-table>
            <totals-table data="report" title="'Project'" ></totals-table>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 animated zoomIn">
      <div class="panel panel-primary top-panel">
        <div class="panel-heading">Map</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <div ng-hide="selectedHydrant.properties" class="panel panel-primary">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                  Hover or click on hydrant
                </div>
              </div>
              <totals-table data="selectedHydrant.properties" title="selectedHydrant.properties.FACILITYID" view="'attributes'"></totals-table>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="mapSearch">Search: </label>
                        <input id="mapSearch" class="mapText" ng-model="searchText" placeholder="type" ng-keyup="searchMap($event, searchText, geojson)"><div cg-busy="{promise:searchPromise ,message:'Searching Hydrants'}"></div>
                      </div>
                      <div class="form-group">
                        <label for="mapSearch">Filter: </label>
                        <select id="mapFilter" class="mapText" ng-options="mapFilter.name for mapFilter in mapFilterOptions" ng-model="mapFilterSelection" ng-change="updateFilter()">
                          <div cg-busy="{promise:updateFilter(),message:'Filtering Hydrants'}"></div>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="panel-body">
                    <leaflet center="raleigh" defaults="defaults" layers="layers"  width="100%" height="653px" legend="legend"><div cg-busy="{promise:hydrantPromise,message:'Loading Hydrants'}"></div></leaflet>
                    <div id="line" class="panel panel-primary">
                      <div class="panel-heading">Graphs - {{mapFilterSelection.name}}</div>
                      <div class="panel-body">
                        <canvas  class="chart chart-bar" data="data" labels="chartlabels" colours="colours"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- {{$route}}
{{$location}} -->

<!-- </div> -->
<!-- <reports></reports> -->
<div class="row">
  <div class="col-md-12 animated zoomIn">
    <div class="panel panel-primary">
      <div class="panel-heading" cg-busy="{promise:newReportPromise ,message:'Generating Report'}">Report List</div>
      <div class="panel-body reportList">
        <div class="row">
          <div class="col-md-3">
            Report Type: <select ng-options="item.name for item in layerList" ng-model="layer" ng-change="getReport()"></select>
          </div>
          <div class="col-md-2">
            Search: <input ng-model="searchText">
          </div>
          <div id="print" class="col-md-1 col-md-offset-6">
            <button  type="button" class="btn btn-success btn-sm" csv-header="headers" ng-csv="printCSV(reportData)" filename="{{layer}}{{today}}.csv">Export to CSV</button>
          </div>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>
  </div>
</div>
